.vs/Begin/v17/.suo
ControleAcesso/bin/Debug/net6.0/ControleAcesso.dll
ControleAcesso/bin/Debug/net6.0/ControleAcesso.pdb
ControleAcesso/obj/ControleAcesso.csproj.nuget.dgspec.json
ControleAcesso/obj/ControleAcesso.csproj.nuget.g.props
ControleAcesso/obj/Debug/net6.0/ControleAcesso.GeneratedMSBuildEditorConfig.editorconfig
ControleAcesso/obj/Debug/net6.0/ControleAcesso.assets.cache
ControleAcesso/obj/Debug/net6.0/ControleAcesso.csproj.FileListAbsolute.txt
ControleAcesso/obj/Debug/net6.0/ControleAcesso.dll
ControleAcesso/obj/Debug/net6.0/ControleAcesso.genruntimeconfig.cache
ControleAcesso/obj/Debug/net6.0/ControleAcesso.pdb
ControleAcesso/obj/project.assets.json
ControleAcesso/obj/project.nuget.cache
