################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ControleAcesso/obj
/ControleAcesso/bin/Debug/net6.0
/ControleAcesso.API/bin/Debug/net6.0
/ControleAcesso.API/obj/Debug/net6.0/ref
/ControleAcesso.API/obj/Debug/net6.0
/ControleAcesso.API/obj
/.vs/slnx.sqlite
*.json
